cmake-build*
florid_usb.cpython*
.cache
.idea
cmake-build*
# editors
.vscode
*.swp
*~

# python
.venv
dist/
*.egg-info/

__pycache__/

# build
build/*

# docs
doc/_build*

# Jetbrains
.idea

target
build

*.log
cmake-build*

out
compile_commands.json
python/plots
__pycache__
